.d1 {
            font-family: var(--fontFamily, Roboto);
font-size: 40px;
line-height: 125% /* 50px */;
letter-spacing: 0.46px;
          } 
.d3 {
            font-family: var(--fontFamily, Roboto);
font-size: 60px;
line-height: 125% /* 75px */;
letter-spacing: 0.46px;
          } 
